In [15]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np

In [36]:
soup = BeautifulSoup(requests.get('https://en.wikipedia.org/wiki/Premier_League').text, 'lxml')

all_tables = soup.find_all('table')

table = 123
for item in all_tables:
    cap = item.find('caption')
    if (cap) :
        if (cap.get_text(strip=True) == '''Results of the 'Big Six' during the 2010s'''):
            table = item
            break

body = table.find('tbody')
header = body.find('tr')

header = header.find_all('th')

header = [item.get_text(strip=True) for item in header]

print(header)

data = body.find_all('tr')
table = []
for item in data :
    cols = item.find_all('td')
    cols = [item.get_text(strip=True) for item in cols]
    table.append(cols)

df = pd.DataFrame(table, columns=header)

df.drop([0,13,14], inplace=True)

df

['Season', 'ARS', 'CHE', 'LIV', 'MCI', 'MUN', 'TOT']

      Season ARS CHE LIV MCI MUN TOT
1    2010–11   4   2   6   3   1   5
2    2011–12   3   6   8   1   2   4
3    2012–13   4   3   7   2   1   5
4    2013–14   4   3   2   1   7   6
5    2014–15   3   1   6   2   4   5
6    2015–16   2  10   8   4   5   3
7    2016–17   5   1   4   3   6   2
8    2017–18   6   5   4   1   2   3
9    2018–19   5   3   2   1   6   4
10   2019–20   8   4   1   2   3   6
11  Top four   6   7   5  10   6   5
12   Top six   9   9   7  10   9  10