In [3]:
import pandas as pd
import pickle

In [4]:
all_tables = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [5]:
for i in range(12, 62, 7):
    all_tables[i].drop(columns='Qualification', inplace=True)

In [7]:
for i in range(12, 62, 7):
    all_tables[i].rename(columns={'Teamvte': 'Team'}, inplace=True)

all_tables[61]

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [8]:
a = 12
b = 19
c = 26
d = 33
e = 40
f = 47
g = 54
h = 61

In [9]:
data_table = {
    a: all_tables[a],
    b: all_tables[b],
    c: all_tables[c],
    d: all_tables[d],
    e: all_tables[e],
    f: all_tables[f],
    g: all_tables[g],
    h: all_tables[h]
}

In [10]:
with open('data_table', 'wb') as output:
    for i in range(12, 62, 7):
        pickle.dump(data_table, output)